.card-weapon {
    display: flex;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 30px;
    flex-wrap: wrap;
}

.card-weapon-content {
    display:flex;
    
    font-family: 'Tungsten-Bold' ,arial,georgia,sans-serif;
    border: 2px solid black;
    height: 13rem;
    width: 12rem;
    margin: 1rem;
    transition: transform .4s;
    background-color: white;
}