@font-face {
    font-family: 'Valorant';
    src: url('/assets/Valorant');
  }

  @font-face {
    font-family: 'Tungsten-Bold';
    src: url('/assets/Tungsten-Bold');
  }

  @font-face {
    font-family: 'Cynatar';
    src: url('/assets/Cynatar');
  }

  @font-face {
    font-family: 'Milky_Nice';
    src: url('/assets/Milky_Nice');
  }

  @font-face {
    font-family: 'MilkyNice-Clean';
    src: url('/assets/MilkyNice-Clean');
  }

body {
  background-color: #EFF1F3;
}

h1 {
    color : black;
    text-align: center;
    font-family: 'Tungsten-Bold' ,arial,georgia,sans-serif;
    padding:10px;
   
}

#agent-subtitle {
  align-items: center;
text-align: center;
background-color: black;
justify-content: center;
color: white;
}

a:hover
{
  text-decoration: none;
  color : #e63946;
}

a {
    color: black;
}

.card-weapon-content {
    background-color: rgb(65, 68, 61);
    border: 1px solid black;
}

.navbar-expand-sm .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;

}

.navbar-expand-sm .navbar-nav .nav-link:hover { 

    border-bottom: 1px solid #e63946;
}

.container-agents {
  display: flex;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 30px;
  flex-wrap: wrap;
}

.card-agent {
    font-family: 'Tungsten-Bold' ,arial,georgia,sans-serif;
   border: 2px solid black;
   height: 13rem;
   width: 12rem;
   margin: 1rem;
   transition: transform .4s;
   background-color: white;
   
}

.card-agent:hover {
  transform: scale(1.3);
}

.banner {
    padding: 250px;
    background-image: url('raze jett.PNG');
    background-repeat: no-repeat;
    background-size: cover;
}

#title {
    color: white;
    margin-left: -75rem;
    font-family: 'Valorant', 'Arial Black', sans-serif;
    font-size: 5rem;
    text-shadow: 1px 1px 2px black;


}


.ranking {
  display: block;
  height:8rem;
  width:80rem;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
}

.navbar-brand {
    font-family: 'Valorant', 'Arial Black', sans-serif;
    justify-content: center;
    font-size: 1.5rem;
    color: black
}
.navbar-brand:hover {
  color:black;
}

h2 {
    color : black;
    text-align: center;
    font-family: 'Tungsten-Bold' ,arial,georgia,sans-serif;
    padding:10px;
    margin-top: 1rem;
   
}


.rankhead {
  display:flex;
  margin-left:23rem;
  column-gap: 5rem ;
  font-family: 'Tungsten-Bold' ,arial,georgia,sans-serif;
}

.rankcontain {
  display: flex;
  column-gap: 5rem ;
margin-left: 3.5rem;
margin-top: 2.5rem;
}

.btn-more {
  margin-top: 1rem;
  margin-left: 20rem;
  height: 3rem;
  width:6rem;
  border:2px solid white;
  background-color: black;
  box-shadow: inset 0 0 0 0 #A2ABAB;
  transition: ease-out 0.3s;
  outline: none;
  color: white;
  font-family: 'Tungsten-Bold' ,arial,georgia,sans-serif;
  
}

.btn-more:hover {
  box-shadow: inset 300px 0 0 0 #A2ABAB;
  cursor: pointer;
  color: #000;
  font-family: 'Tungsten-Bold' ,arial,georgia,sans-serif;
  border: 2px solid black;
}
.navb {
  padding: 1.5rem;
  background-color: white;
  color: black;
}